@model CGI.Reflex.Web.Models.Pickers.ContactDetails

<div class="row-fluid">
    <div class="span12">
        <h2>@Model.LastName, @Model.FirstName</h2>
        <p>@Model.Company<br/>
        @Html.DomainValueDisplay(Model.ContactTypeId)</p>
        <p>
            <address>
                <label>Courriel</label>
                <a href="mailto:#">@Model.Email</a>
            </address>
        </p>
        @if (!String.IsNullOrEmpty(Model.PhoneNumber))
        {
			<label>Téléphone</label>
            <p>
				@Model.PhoneNumber
            </p>
        }   
        @if (!String.IsNullOrEmpty(Model.Notes))
        {
            <label>Notes</label>
            <p>
				@Model.Notes
            </p>
        }
         @if (!String.IsNullOrEmpty(Model.Sector))
         {
            <label>Secteur</label>
			<p>
               @Model.Sector
            </p>
        }

    </div>
</div>