@model CGI.Reflex.Web.Areas.Servers.Models.DbInstances.DbInstanceEdit


@using (Html.BeginForm(@Model.FormAction, "DbInstances"))
{
    @Html.EditorFor(m => m.Id)
    <section>
        <div class="row">
            <div class="span10">
                <div class="control-group error">
                    <span class="help-block">
                    </span> 
                </div>
            </div>
        </div>
           
        <div class="row">
            <div class="span3">
                <div class="control-group">
                    @Html.RLabelFor(m => m.Name)
                    @Html.EditorFor(m => m.Name)
                    <span class="help-inline">@Html.ValidationMessageFor(m => m.Name)</span>
                </div>
            </div>
             <div class="span5">
                <div class="control-group">
                    @Html.RLabelFor(m => m.TechnologyId)
                    @Html.EditorFor(m => m.TechnologyId, new { SelectionMode = CGI.Reflex.Web.Models.Pickers.SelectionMode.SingleLeafOnly })
                </div>
            </div>
        </div>

    </section>
    
    <section style="margin-top: 20px">
        <div class="row">
            <div class="span10">
                <a class="btn btn-primary" data-submit-form="true">Sauvegarder</a>
                <a class="btn" href="@Url.Action("Details")">Annuler</a>
            </div>
        </div>
    </section>
}

<script type="text/javascript">
    var addTechno = function (checkedIds) {
        $('#technoContainers input').each(function () {
            checkedIds.push($(this).val());
        });
        $.ajax({
            url: '@Url.Action("RenderTechno")',
            data: { ids: checkedIds },
            type: 'GET',
            success: function (data) {
                $('#technoContainers').html(data);
            }
        });
    };

    $("#technoContainers").on('click', 'a[data-delete-techno]', function (event) {
        $(this).closest("tr").remove();
        event.preventDefault();
    });

</script>
