@model CGI.Reflex.Web.Areas.Applications.Models.Applications.ApplicationsIndex
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Applications";
}

<section>
    <div class="page-header">
        <div id="quickSearchForm" class="@(Model.SearchDefined ? "collapse" : "collapse in")" style="float:right; overflow: visible; @(Model.SearchDefined ? "display: none;" : "")">
            @using (Html.BeginForm("Index", "Applications", FormMethod.Get, new { @class = "form-horizontal" }))
            {
           
                <div class="control-group" style="overflow:  ">
                 <div class="controls">
                     <label class="control-label" for="QuickNameOrCode">
                         @Html.PropertyDisplayNameFor(m => m.QuickNameOrCode) :&nbsp;
                     </label>
                     @Html.TextBoxFor(m => m.QuickNameOrCode, new { data_autocomplete_source = Url.Action("ApplicationNamesAndCodes", "Autocomplete", new { area = "" }) })
                    </div>
                </div>
                
            }
        </div>
        <h2>
            Applications
            @if (IsActionAllowed("Create", "Applications"))
            {
                @Ajax.ModalActionLinkRaw("<i class='icon-plus-sign icon-white'></i>", "Create", "Applications", new { }, new { @class = "btn btn-mini btn-success", rel = "tooltip", title = "Ajouter une application" }) 
            }
            <a id="displaySearchForm" class="btn btn-mini" data-toggle="collapse" data-target="#searchForm" rel="tooltip" title="Rechercher"><i class="icon-search"></i></a>
        </h2>
        <section>
            <div class="row">
                <div class="span12">
                    @{ var formClass = Model.SearchDefined ? "collapse in" : "collapse"; }
                    <div id="searchForm" class="@formClass">
                        <div class="well">
                            @using (Html.BeginForm("Index", "Applications", FormMethod.Get))
                            {
                                <div class="row">
                                    <div class="span5">
                                        <div class="control-group">
                                            @Html.RLabelFor(m => m.ApplicationTypes)
                                            @Html.EditorFor(m => m.ApplicationTypes)
                                        </div>
                                    </div>
                                    <div class="span5">
                                        <div class="control-group">
                                            @Html.RLabelFor(m => m.Statuses)
                                            @Html.EditorFor(m => m.Statuses)
                                        </div>
                                    </div>
								</div>
								<div class="row">
                                    <div class="span5">
                                        <div class="control-group">
                                            @Html.RLabelFor(m => m.Criticities)
                                            @Html.EditorFor(m => m.Criticities)
                                        </div>
                                    </div>
                             
                                     <div class="span5">
                                        <div class="control-group">
                                           @Html.RLabelFor(m => m.Sector)
                                            @Html.EditorFor(m => m.Sector)
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="span5">
                                        <div class="control-group">
                                            @Html.RLabelFor(m => m.Contact)
                                            @Html.EditorFor(m => m.Contact)
                                        </div>
                                    </div>
                                    <div class="span5">
                                        <div class="control-group">
                                            @Html.RLabelFor(m => m.Server)
                                            @Html.EditorFor(m => m.Server)
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="span5">
                                        <div class="control-group">
                                            @Html.RLabelFor(m => m.Role)
                                            @Html.EditorFor(m => m.Role)
                                        </div>
                                    </div>
                                    <div class="span5">
                                        <div class="control-group">
                                            @Html.RLabelFor(m => m.Technology)
                                            @Html.EditorFor(m => m.Technology)
                                        </div>
                                    </div>
                                </div>
                                <a class="btn btn-primary" data-submit-form="true"><i class="icon-search icon-white"></i> Rechercher</a>
                                <a href="@Url.Action("Index")" class="btn btn-small"><i class="icon-remove"></i> Annuler les critères de recherche</a>
                                <div style="float:right;">
                                    <b>@Model.SearchResults.TotalItems</b> application(s)
                                </div>
                            }
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
</section>

@Html.Partial("_List")

@section javascript {
    $(function() {
        $('#displaySearchForm').on('click', function() {
            $('#quickSearchForm').toggle();
        });

        @if (!Model.SearchDefined)
        {
            <text>
             $('#QuickNameOrCode').focus();
            </text>
        }
    });
}
